* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightcyan;
}

.main-container {
    width: 1200px;
    background-color: lightcyan;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
}

aside {
    width: 370px;
    background-color: #1E2939;
}

.photo {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.user-contacts {
    margin-bottom: 30px;
    margin-left: 40px;
}

.title-contacts {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px
}

.contact-link {
    color: #C6C9CD;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.contact-type {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills {
    margin-bottom: 30px;
    margin-left: 40px;
}

.title-tech-skills {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.tech-skills-list {
    margin-left: 15px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills {
    margin-left: 40px;
}

.title-soft-skills {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.soft-skills-list {
    margin-left: 15px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-text {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


/* --------ARTICLE-------- */


article {
    width: 830px;
    background-color: lightcyan;
}

.about-user {
    width: 525px;
    /* background-color: antiquewhite; */
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.about-user ul {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 15px;
}

.user-speciality {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

h1 {
    margin-bottom: 25px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: black;
}

.information-about-user {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects {
    margin-left: 90px;
    width: 525px;
    /* background-color: aqua; */
    margin-bottom: 50px;
}

.projects-title {
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.projects-list {
    margin-left: 17px;
}

.projects-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.projects-list-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-experience {
    width: 520px;
    /* background-color: bisque; */
    margin-left: 90px;
}

.work-experience-title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.work-experience-item {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.text-color {
    color: #FB6D3A;
}

.work-experience-period {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.work-experience-list {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 15px;
}

.education {
    margin-left: 90px;
    width: 525px;
    /* background-color: aqua; */
    margin-bottom: 50px;
}

.education-title {
    margin-bottom: 10px;
}

.university {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.speciality {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.study-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

/* ------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {
    .about-user {
      margin-left: 55px;    
    }

    .projects {
        margin-left: 55px;
    }

    .work-experience {
        margin-left: 55px;
    }

    .education {
        margin-left: 55px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .main-container {
        width: 768px;
        margin: 0 auto;
    }

    aside {
        width: 240px;
        background-color: #1E2939;
    }
    
    .photo {
        width: 240px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .user-contacts {
        margin-left: 20px;
    }

    .tech-skills {
        margin-left: 20px;
    }

    .soft-skills {
        margin-left: 20px;
    }

    article {
        width: 528px;
    }

    .about-user {
        margin-left: 15px;    
    }
  
    .projects {
        margin-left: 15px;
    }
  
    .work-experience {
        margin-left: 15px;
    }
  
    .education {
        margin-left: 15px;
    }
}

/* ------------------------------------- */

@media (min-width: 576px) and (max-width: 767px) {
    .main-container {
        display: flex;
        flex-flow: wrap;
        margin: 0 auto;
        width: 576px;
    }

    article {
        order: 0;
        width: 100%;
    }

    .about-user {
        width: 556px;
        /* background-color: antiquewhite; */
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    
    .user-speciality {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: black;
    }
    
    h1 {
        margin-bottom: 25px; 
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: black;
    }
    
    .information-about-user {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
    }
    
    .projects {
        margin-left: 10px;
        width: 556px;
        /* background-color: aqua; */
        margin-bottom: 50px;
    }
    
    .projects-title {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
    }
    
    .projects-list {
        margin-left: 18px;
    }
    
    .projects-list-item {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    
    .projects-list-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
    }
    
    .work-experience {
        width: 556px;
        /* background-color: bisque; */
        margin-left: 10px;
    }
    
    .work-experience-title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
    }
    
    .work-experience-item {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    
    .text-color {
        color: #FB6D3A;
    }
    
    .work-experience-period {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #A8A8A8;
    }
    
    .work-experience-list {
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
        margin-left: 15px;
    }
    
    .education {
        margin-left: 10px;
        width: 556px;
        /* background-color: aqua; */
    }
    
    .education-title {
        margin-bottom: 10px;
    }
    
    .university {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #FB6D3A;
    }
    
    .speciality {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
    }
    
    .study-period {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #A8A8A8;
        margin-bottom: 40px;
    }

/* -------------------------------------------- */

    aside {
        order: 1;
        width: 576px;
        background-color: #1E2939;
    }
 
    .photo {
        width: 98%;
        padding-left: 2%;
        padding-top: 0;
        padding-bottom: 30px;
    }
    
    .user-contacts {
        margin-bottom: 30px;
        margin-left: 40px;
    }
    
    .title-contacts {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px
    }
    
    .contact-link {
        color: #C6C9CD;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    
    .contact-type {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-right: 10px;
    }
    
    .tech-skills {
        margin-bottom: 30px;
        margin-left: 40px;
    }
    
    .title-tech-skills {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    
    .tech-skills-list {
        margin-left: 15px;
    }
    
    .tech-skills-item {
        color: #FB6D3A;
    }
    
    .tech-skills-text {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    
    .soft-skills {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .title-soft-skills {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    
    .soft-skills-list {
        margin-left: 15px;
    }
    
    .soft-skills-item {
        color: #FB6D3A;
    }
    
    .soft-skills-text {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    } 
}

/* ---------------------------------------- */

@media (max-width: 575px) {
    .main-container {
        display: flex;
        flex-flow: wrap;
        margin: 0 auto;
        width: 360px;
    }

    article {
        order: 0;
        width: 100%;
    }

    .about-user {
        width: 340px;
        /* background-color: antiquewhite; */
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    
    .user-speciality {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: black;
    }
    
    h1 {
        margin-bottom: 25px; 
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: black;
    }
    
    .information-about-user {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
    }
    
    .projects {
        margin-left: 10px;
        width: 340px;
        /* background-color: aqua; */
        margin-bottom: 50px;
    }
    
    .projects-title {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
    }
    
    .projects-list {
        margin-left: 18px;
    }
    
    .projects-list-item {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    
    .projects-list-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
    }
    
    .work-experience {
        width: 340px;
        /* background-color: bisque; */
        margin-left: 10px;
    }
    
    .work-experience-title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
    }
    
    .work-experience-item {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    
    .text-color {
        color: #FB6D3A;
    }
    
    .work-experience-period {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #A8A8A8;
    }
    
    .work-experience-list {
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #595959;
        margin-left: 15px;
    }
    
    .education {
        margin-left: 10px;
        width: 340px;
        /* background-color: aqua; */
    }
    
    .education-title {
        margin-bottom: 10px;
    }
    
    .university {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #FB6D3A;
    }
    
    .speciality {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
    }
    
    .study-period {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #A8A8A8;
        margin-bottom: 40px;
    }

/* -------------------------------------------- */

    aside {
        order: 1;
        width: 360px;
        background-color: #1E2939;
    }
 
    .photo {
        width: 98%;
        padding-left: 2%;
        padding-top: 0;
        padding-bottom: 30px;
    }
    
    .user-contacts {
        margin-bottom: 30px;
        margin-left: 40px;
    }
    
    .title-contacts {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px
    }
    
    .contact-link {
        color: #C6C9CD;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    
    .contact-type {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-right: 10px;
    }
    
    .tech-skills {
        margin-bottom: 30px;
        margin-left: 40px;
    }
    
    .title-tech-skills {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    
    .tech-skills-list {
        margin-left: 15px;
    }
    
    .tech-skills-item {
        color: #FB6D3A;
    }
    
    .tech-skills-text {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    
    .soft-skills {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .title-soft-skills {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    
    .soft-skills-list {
        margin-left: 15px;
    }
    
    .soft-skills-item {
        color: #FB6D3A;
    }
    
    .soft-skills-text {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    } 
}


